---
import GridItem from '../../components/GridItem.astro';
import SimplePageHeader from '../../components/SimplePageHeader.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllQuestionGroups } from '../../lib/question-group';

const questionGroups = await getAllQuestionGroups();
---

<BaseLayout
  title='Soragnamalar'
  description={'Dürli gurallary ýa-da tehnologiýalary öwrenmek üçin ädimme-ädim gollanmalar we ýörelgeler'}
  permalink={'/roadmaps'}
>
  <SimplePageHeader
    title='Soragnamalar'
    description='Bilimleriňizi we başarnygyňyzy ýokarlandyrmaga ýardam etjek soragnamalar.'
    showYouTubeAlert={false}
  />

  <div class='flex bg-gray-100 pb-14 pt-4 sm:pb-16 sm:pt-8'>
    <div class='container'>
      <div class='grid grid-cols-1 gap-1 sm:grid-cols-2 sm:gap-3'>
        {
          questionGroups.map((questionGroup) => (
            <GridItem
              url={`/questions/${questionGroup.id}`}
              isNew={questionGroup.frontmatter.isNew}
              title={questionGroup.frontmatter.title}
              description={`${questionGroup.questions.length} sany Soraglar &middot; ${questionGroup.allTopics.length} tema boýunça`}
            />
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
